<h1>Guest Show Page</h1>

<h3>Name: <%= @guest.name %></h3>
<p>Occupation: <%= @guest.occupation %></p>
<br>

<h3>List of Episodes</h3>

<ul>
    <% @guest.sort_appearances.each do |appearance|%>
        <li>Date: <%= link_to appearance.episode.date, episode_path(appearance.episode) %></li>
        <li>Rating: <%= appearance.rating %></li>
        <br>
    <% end%>
</ul>

<h3>Guest's Average Appearance Rating: <%= @guest.avg_rating %></h3>

<p><%= link_to "Back to Guest Index", guests_path %></p>