<h1> New Guest Appearance on an Episode</h1><br><br>

<% if flash[:all_errors] %>
    <%= flash[:alert] %>
<% flash[:all_errors].each do |error| %>
    <%= error %><br>
<% end %>
<% end %>


<%= form_for @appearance do |f| %>
    Guest : <%= f.collection_select :guest_id, Guest.all, :id, :name %>
    Episode : <%= f.collection_select :episode_id, Episode.all, :id, :date %>
    Rate the Appearance : <%= f.number_field :rating, value: 1, min: 1, max: 5 %>
    <%= f.submit %>
    <% end %>



<%# Validation built in with the number_field range selector, a user cannot select anything other than a range of 1-5%>
