<% if flash[:my_error] %>
<% flash[:my_error].each do |error| %>
    <%= error %>
    <% end %>
<% end %>

<h1>Create an Appearance</h1>

<%= form_for @appearance do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <%= f.label :guest_id %>
    <%= f.collection_select :guest_id, @guests, :id, :name  %>
    <%= f.label :episode_id %>
    <%= f.collection_select :episode_id, @episodes, :id, :number %>
<%=f.submit %>

<% end %>