<h1> New Appearance Form </h1>

<% if flash[:list_errors]%>
    <h2> Warning! Please see errors below:</h2>
    <% flash[:list_errors].each do |error|%>
      <li>  <%= error%><br> </li>
    <%end%>
<%end%>


<%= form_with model:@appearance do |f|%>
    <%=f.label :guest %>
    <%=f.collection_select :guest_id, @guests, :id, :name %>
    <%=f.label :episode %>
    <%=f.collection_select :episode_id, @episodes, :id, :number %>
    <%=f.label :rating %>
    <%=f.number_field :rating%>
    <%=f.submit%>
<%end%>