<h1>New Appearance Form</h1>

<%= form_for @appearance do |f| %>
<%= f.label :Guest %>
<%= f.collection_select :guest_id, @guests, :id, :name %>

<%= f.label :Episode %>
<%= f.collection_select :episode_id, @episodes, :id, :number %>

<%= f.label :Rating %>
<%= f.number_field :rating, min: 1, max:5 %>

<%= f.submit %>
<% end %>
